<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/product">List Product</a>
<div>
    <form method="post" th:action="@{/product/delete}" th:object="${product}">
        <div>
            <input type="hidden" th:field="*{id}" placeholder="ID">
        </div>
        <div>
            <input type="text" placeholder="Name" th:field="*{name}">
        </div>
        <div>
            <input type="text" placeholder="Name" th:field="*{price}">
        </div>
        <div>
            <input type="text" placeholder="Description" th:field="*{description}"></div>
        <div>
            <input type="text" placeholder="Factory" th:field="*{factory}"></div>
        <div>
            <button>Delete</button>
        </div>

    </form>
</div>
</body>
</html>